@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  margin-top: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: 'Roboto';
  
}